.parent{
    /* display: flex; */
    width: 80%;
    margin: auto;
    border-bottom: 1px solid #ddd;
}

.detailsDiv{
    width: 100%;
    height: 190px;
    display: flex;
    align-items: center;
    gap: 20px;
    border-bottom: 1px solid #ddd;
}

.image{
    width: 7%;
    height: 50%;
}
.name{
    width: 21%;
    text-align: left;
}
.movetocheck{
    height: 100%;
    width: 30%;
    /* background-color: black; */
    /* display: flex; */
    /* border:1px solid black; */
    margin-left: 3%;
}
.total{
    font-size: 20px;
    font-weight: 700;
    margin: 10px 0;
    display: flex;
}
.totalcontent{
    font-size: 12px;
    text-align: left;
    display: flex;
}
.deleteimage{
    width: 22px;
    cursor: pointer;
}

.main{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 80%;
    margin: auto;
}
.addbutton{
    background-color: #000;
    color: #fff;
    padding: 8px 16px;
    cursor: pointer;
    text-decoration: none;
    border: 1px solid white;
}
.subtractbutton{
    background-color: #000;
    color: #fff;
    padding: 8px 16px;
    cursor: pointer;
    text-decoration: none;
    border: 1px solid white;
}
.subtractbutton:disabled{
    opacity:.5;
    color: white;
}
.thecheckoutbutton{
    background-color: #000;
    color: white;
    border: 1px solid white;
    /* padding:10px 20px ; */
    width: 100%;
    line-height: 3;
    cursor: pointer;
}
.emptycart{
    text-transform: uppercase;
    font-weight: 700;
    text-align: center;
    font-size: 23px;
    text-align: center;
    display: flex;
}
.backshop{
    background-color: white;
    padding: 12px 40px;
    border: 1px solid #000;
    color: #000;
    cursor: pointer;
    font-size: 14px;
    letter-spacing: 1px;
    margin-left: 20px;
    text-align: center;
   
}
.loadingText{
    width: 100%;
  margin: auto;
 
}

@media   only screen and (max-width: 728px) {
    .name{
      /* width: 905%; */
      font-size: 10px;
      /* width: auto; */
     }
     .parent{
        display: block;
     }
     .image{
        height: 41%;
        width: 16%;
     }
  }


  @media (max-width: 768px) {
    .main {
      flex-direction: column; /* Change the flex direction to column */
    }

    .name{
        position: absolute;
        margin-left: 10%;
    }
  
    .movetocheck {
      display: block; /* Show the movetocheck div when screen width is 768px or less */
      margin-top: 20px; /* Add some space between the cart items and the movetocheck div */
    }

    .deleteimage{
        width: 10%;
        height: 30px;
    }

    .image{
        width: 30%;
    }
  }

  @media   only screen and (max-width: 628px) {
    .name{
    
      font-size:10px;
      
     }
     .parent{
        display: block;
     }
     .image{
        height: 41%;
        width: 16%;
     }
  }
/* Styles for screens larger than or equal to 768 pixels */

  
  /* Styles for screens smaller than 768 pixels */
  @media (max-width: 767px) {
    .parent {
      flex-direction: column;
    }
  
    .detailsDiv {
      /* Adjust the width and styles for the individual item container in mobile view */
      width: 100%; /* Set to full width of the container */
    }

  
    .detailsDiv p.price {
      /* Additional styles for the price paragraph in mobile view */
      width: 100%; /* Make the price span across the full width */
    }
    .subtractbutton{
        margin-bottom: -30%;

    }
    .addbutton{
        margin-bottom: -30%;
    }
    .quantity{
        margin-bottom: -25%;
    }
    .deleteimage{
        margin-bottom: -30%;
    }
    .price{
        margin-bottom: -24%;
    }
  }
  


  @media (max-width: 607px) {
    
    .subtractbutton{
        margin-bottom: -35%;
        margin-bottom: -35%;
        padding: 5px 10px;
        font-size: 5%;
    }
    .addbutton{
        margin-bottom: -35%;
        padding: 5px 10px;
        font-size: 5%;
    }
    .quantity{
        margin-bottom: -30%;
        
    }
    .deleteimage{
        margin-bottom: -35%;
        height: 9%;
    }
    .price{
        margin-bottom: -28%;
    }
    .name{
        margin-top: -5vh;
        letter-spacing: 1px;
        display: block;

    }
  }

  @media (max-width: 447px) {
    
    .subtractbutton{
        margin-bottom: -45%;

    }
    .addbutton{
        margin-bottom: -45%;
    }
    .quantity{
        margin-bottom: -40%;
    }
    .deleteimage{
        margin-bottom: -45%;
    }
    .price{
        margin-bottom: -42%;
        font-size: 11px;
    }
    .name{
        margin-left: 50px;
        position: absolute;
        width: 30%;
        display: block;
    }
  }