.headingtexthelp{
    font-weight: 700;
    margin: 20px 0;
    text-transform: uppercase;
    font-size: 1.8rem;
    padding-top: 2rem;
    padding-bottom: 4rem;
}

.helpparent{
    display: flex;
    /* justify-content: space-between; */
    width: 100%;
    /* background-color: rgb(186, 186, 186); */
    background-color: #f6f6f6;
    text-align: center;
    margin-bottom: 70px;
}

.fiersarthelp{
    width: 50%;
}

.clientserviceparent{
    width: 50%;
}
.clientservice{
    /* font-size: 18px; */
    
    font-weight: 700;
    font-size: 24px;
    text-transform: uppercase;
    margin-bottom: 25px;
    color: #000;
}
.needhelp{
    font-weight: 700;
    font-size: 24px;
    text-transform: uppercase;
    margin-bottom: 25px;
    color: #000;
}
.needhelp2{
    padding: 80px 75px;
}
.clientmail{
    padding: 80px 75px;
}
.fiersarthelp{
    margin-left: 50px;
}

.loadingText{
    width: 100%;
  margin: auto;
 
}


/* Your existing styles */

/* Media Query for screen sizes less than or equal to 768px */
@media only screen and (max-width: 768px) {
    .helpparent {
      /* Add your responsive styles here for the parent div */
      /* For example, you can change the flex direction to stack the elements vertically */
      display: flex;
      flex-direction: column;
      font-size: 14px;
      width: 180%;
    }
  
    .clientserviceparent {
      /* Add your responsive styles here for the "Client Service" section */
      /* For example, you can adjust margins/padding to create spacing between sections */
      margin-top: 20px; /* Add desired spacing between sections */
      margin-left: 9%;
      font-size: 14px;
    }
    .clientmail{
        /* margin-right: auto; */
        /* text-align: center;
         */
         margin-right: 5%;
    }
   
  }
  