.homepagegif{
    /* height: 100%; */
    margin-top: -10px;
    /* height: 590px; */
    width: 100%;
    /* background-image: url("https://dibackend.dieselindia.com/banner/1688714430320-635_2.gif?compress=true&q=70"); */
}
.homepageiamge{
    width: 100%;
    margin-top: 0.7%;
}

.container {
    position: relative;
    display: inline-block;
  }
  
  .buttoncontainer {
    display: flex;
    justify-content: center;
    margin-top: 10px;
    /* margin: auto; */
  }
  
  .imagebutton {
    margin: 0 5px;
    /* margin:auto; */
    height: 20px;
    margin-top: -260px;
    font-family: "Scto_Grotesk_Regular";
    font-family: var(--fontFamily);
    font-size: 14px;
    color: #fff;
    /* margin: 0 0 10px; */
    padding: 13px 35px;
    background: #e31f2e;
    font-weight: 700;
    border: 1px solid #e31f2e;
    display: inline-block;
    margin-left: 30px;
  }
  .imagebutton1{
    margin: 0 5px;
    /* margin:auto; */
    margin-top: -260px;
    height: 20px;
    font-family: "Scto_Grotesk_Regular";
    font-family: var(--fontFamily);
    font-size: 14px;
    color: #fff;
    /* margin: 0 0 10px; */
    padding: 13px 30px;
    background: #e31f2e;
    font-weight: 700;
    border: 1px solid #e31f2e;
    /* display: inline-block; */
    margin-right: 50px;
  }
  .headingtext{
    font-size: 35px;
    display: flex;
    margin-left: 30px;
    margin-top: 90px;
  }
  #man{
    position: relative;
    color: red;
    text-decoration: none;
        font-weight: 700;
    font-size: 30px;
    margin-bottom: 20px;
    display: flex;
    margin-left: 30px;
  }
  #woman{
    position: relative;
    text-decoration: none;
    /* font-size: 35px; */
    color: black;
    font-weight: 700;
    font-size: 30px;
    margin-bottom: 20px;
    display: flex;
  }
  #midman{
    font-size: 30px;
    color: black;
    margin-left: 5px;
    margin-right: 5px;
    /* display: flex; */
  }
  .deskpara{
    /* text-align: center; */
    /* display: block;
   
    /* box-sizing: border-box;  */
    display: flex;
    margin-top: -30px;
    margin-left: 50px;
    width: 34%;
    /* height: 390px; */
  }
  .fyf{
    align-items: start;
    display: flex;
    /* gap: 50px; */
    /* margin-right: 100px; */
  }
  .fyf2{
    display: flex;
    height: 300px;
    width: 60%;
    /* border: 1px solid black; */
    margin-left: -500px;
    margin-top: 50px;
    gap: 80px;
  }
  .tapered{
    width: 35%;
    height: 100px;
    /* margin-bottom: 130px;  */
  }

  .image{
    width: 165%;
    height: 40vh;
  }
  #fittypes{
    margin-right: -70px;
    font-size: 18px;
    margin-top: -3px;
    /* margin-bottom: 130px; */
  }
.diesellibimage{
  width: 100%;
  display: flex;
}
.diesellib{
  margin-top: 30px;
}

.showresponse{
  font-family: "Scto_Grotesk_Regular";
  font-family: var(--fontFamily);
  font-size: 14px;
  color: #000;
  padding: 10px 40px;
  background-color: #fff;
  font-weight: 700;
  border: 1px solid #fff;
  display: inline-block;
  letter-spacing: 1px;
  margin: 15px 10px 10px 0;
  text-decoration: none;
  display: flex;
  margin-top:-180px;
  margin-left: 580px;
}
#backrgroundcolor{
  background-color: #fff;
  border: 1px solid #fff;
  /* position: fixed; */
  z-index: 113;
}
.salepara{
  /* display: flex; */
  text-align: left;
    margin-top: -30px;
    margin-left: 30px;
    width: 70%;
}
.saleimage{
  width: 100%;
  height: 60vh;
  display: flex;
  margin-top: 40px;
  /* margin-left: -300px; */
}

#saleitemprice{
  font-size: 18px;
  letter-spacing:.5px;
  display: flex;
}
#saleitemname{
  display: flex;
}
.salepic1{
  display: flex;
  width: 60%;
}
.automaticimages{
  display: flex; 
  width: 100%;
  margin-right: 30px;
  /* margin-top: 40px; */

}
.saleimage{
  display: flex;
  width: 110%;
}

.salepic{
  width: 95%;
  margin: auto;
  display: flex;
  margin-top: 5%;
  /* border: 1px solid red; */
  /* justify-content: space-between; */
}

.first{
  width: 30%;
  margin-left: 50px;
}
#shopnowbutton{
    padding: 15px;
    /* text-transform: uppercase; */
    font-weight: 700;
    background: #000;
    color: #fff;
    /* display: inline-block; */
    /* margin-top: 120px; */
    /* margin-left: -80px; */
    /* height: 40px; */
    /* width: 40px;  */
    /* width:  150.69px; */
    display: flex;
    text-decoration: none;
    /* margin-top: 5px; */
}

.shopBtn{
  background: #000;
  margin-top: 15px;
  color: #fff;
  border: none;
}
#headingtextsale{
  font-size: 20px;
  /* padding-bottom: -30px;  */
  margin-left: 30px;
  margin-bottom: 5px;
  /* margin-bottom: -40px; */
  font-weight: 600;
  display: flex;
}
.headingtextsale1{
  padding-bottom: 5px;
}

.selectcategory{
width: 85%;
display: flex;
gap: 18px;
margin-left: 115px;

}
.selectcategoryimage{
  width: 100%;
  display: flex;
}
.selectcategoryparentimage{
  display: flex;
}
.hieglight{
  width: 105%;
  height: 63vh;
  display: flex;
  margin-top: 40px;
}
.thefourparent {
  display: flex;
  flex-wrap: wrap;
  gap: 130px;
  margin-left: 120px;
}

.thefour {
  flex-basis: 50%;
  padding: 10px;
  gap: 10px;
}

.thefourimage {
  width: 125%;
  height: auto;
  gap: 10px;
}

.thefour {
  position: relative;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  /* background-color: rgba(0, 0, 0, 0.5); */
  z-index: 1;
  cursor: pointer;
}

.overlayText {
  color: white;
  font-size: 20px;
  font-weight: 700;
  text-align: center;
  margin: 0;
  margin-left: 130px;
  padding: 10px;
  cursor: pointer;
}
.alleightimage{
  width: 120px;
  gap: 30px;
}
.parenteightimage {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 120px;
  margin-left: 100px;
  gap: 30px;
 
}

.topimages {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
  width: 120px;
  gap: 183px;
  margin-top: 50px;
}

.bottomimages {
  display: flex;
  width: 120px;
  justify-content: space-between;
  gap: 380px;
}
.image-text {
  text-align: center;
  margin-top: 10px;
  font-size: 18px;
}

