.headingman {
  font-weight: 700;
  /* font-size: 28px; */
  margin: 10px 0;
  text-transform: uppercase;
  font-size: 2.3rem;
  padding-top: 2rem;
  padding-bottom: 4rem;
}
.cardman {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-auto-rows: 600px;
  margin-bottom: 40px;
  cursor: pointer;
  row-gap: 0.1%;
  /* padding-bottom: 20px; */
}
.imageman {
  width: 100%;
  height: 90%;
}

.arrowdown {
  width: 7px;
  height: 7px;
  border: 2px solid #000000;
  border-left: 0;
  border-top: 0;

  transform: rotate(45deg);
  margin-left: 755px;
  margin-top:-70px ;
  margin-bottom: 50px;
  
}
/* .totalproducts{
    text-align: left;
    margin-left: 50px;
} */
#sortby{
    border: none;
    outline: none;
    text-decoration: none; 
    line-height: 10px;
    cursor:  pointer;
 
}
#sortby.focus{
    border: none;
    outline: none;
    text-decoration: none; 
    cursor: pointer;
}
.sort{
    /* text-align: right;
    margin-right: 90px;
    margin-bottom: 30px; */
    text-decoration: none; 
    line-height: 10px;
    cursor: pointer;
}
#sortbytag{
    line-height: 20px;
}
.parent{
    display: flex;
    justify-content: space-between;
    width: 95%;
    margin: auto;
}

.nameofitem{
  text-align: left;
  margin-left: 10%;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 90%;
  white-space: inherit;
}
.priceofitem{
  text-align: left;
  margin-left: 10%;
}

/* Man.module.css */
.card {
  /* Your existing card styles */
  padding-bottom: 30px;
  position: relative;
}
.card:hover{
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}




/* Styling for Add to Cart button */
.addToCartButton {
  background-color: rgb(0, 191, 165);
  color: #fff;
  padding: 8px 16px;
  border: none;
  cursor: pointer;
  font-size: 14px;
  border-radius: 4px;
  transition: background-color 0.3s ease;
  margin-left: 18%;
  margin-top: 2%;
}

.addToCartButton:hover {
  background-color: #45a049;
}

/* Styling for Add to Wishlist button */
.addToWishlistButton {
  background-color: rgb(224, 64, 251);
  color: #fff;
  padding: 8px 16px;
  border: none;
  cursor: pointer;
  font-size: 14px;
  border-radius: 4px;
  transition: background-color 0.3s ease;
  margin-left: 8px;
  margin-top: 2%;
}

.addToWishlistButton:hover {
  background-color: #d32f2f;
}

/* Styling for both buttons container */
.buttonsContainer {
  display: flex;
  align-items: center;
}
.addedButton{
  background-color: rgb(0, 96, 100);
  color: #fff;
  padding: 8px 16px;
  border: none;
  cursor: pointer;
  font-size: 14px;
  border-radius: 4px;
  transition: background-color 0.3s ease;
  margin-left: 18%;
  margin-top: 2%; 
}
.addedButton1{
  background-color: rgb(173, 20, 87);
  color: #fff;
  padding: 8px 16px;
  border: none;
  cursor: pointer;
  font-size: 14px;
  border-radius: 4px;
  transition: background-color 0.3s ease;
  margin-left: 8%;
  margin-top: 2%; 
}
.swal-modal {
  background-color: rgba(63,255,106,0.69);
  border: 3px solid white;
}
.loadinggif{
  /* height: 100%; */
  width: 90%;
  margin: auto;
  margin-left: 160%;
  margin-bottom: 55%;
}




/* CSS */
/* Add your existing CSS styles here */

/* For screen sizes below 768px, use a 2-column grid layout */
@media screen and (max-width: 768px) {
  .cardman {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 20px; /* Optional: Adjust the gap between grid items */
  }
  .imageman {
    width: 80%;
    height: 60%;
  }
  
}

@media screen and (max-width: 568px) {
  .cardman {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 1px; /* Optional: Adjust the gap between grid items */
  }
  .imageman {
    width: 67%;
    height: 45%;
  }
  
}
