.signupparent{
    max-width: 100%;
    margin: 0 auto;
    background-color: #efefef;
    padding: 15px 15px;
    width: 500px;
    border: 1px solid #f1f1f1;
    margin-top: 80px;
    margin-bottom: 400px;
}
.hithere{
    text-align: center;
    font-size: 35px;
    /* text-transform: capitalize; */
    font-weight: 700;
}
.para{
    display: block;
    margin-bottom: 5px;
    text-transform: capitalize;
    font-size: 16px;
    margin-right: 370px;
    margin-bottom: 15px;
}
.inputsignup{
    width: 95%;
    padding: 10px;
    border: 1px solid #e0e0e0;
    margin-bottom: 10px;
}
.inputsignup:focus{
    outline: none;
    border: none;
}