.signupparent{
    max-width: 100%;
    margin: 0 auto;
    background-color: #efefef;
    padding: 15px 15px;
    width: 35%;
    border: 1px solid #f1f1f1;
    margin-top: 6%;
    margin-bottom: 33%;
}
.hithere{
    text-align: center;
    font-size: 35px;
    /* text-transform: capitalize; */
    font-weight: 700;
}
.para{
    display: block;
    margin-bottom: 5px;
    text-transform: capitalize;
    font-size: 16px;
    margin-right: 73%;
    margin-bottom: 3%;
}
.inputsignup{
    width: 95%;
    padding: 10px;
    border: 1px solid #e0e0e0;
    margin-bottom: 5%;
}
.inputsignup:focus{
    outline: none;
    border: none;
}
.button{
    width: 90%;
    background-color: black;
    color: white;
    padding: 2%;
    border: 1px solid white;
    border: none;
    font-weight: 400;
    
}
.profile {
    margin-bottom: 10%;
  }
  
  .profileTitle {
    font-size: 24px;
    margin-bottom: 5%;
  }
  
  .profileContent {
    padding: 10px;
    background-color: #f5f5f5;
    border-radius: 5px;
  }
  
  .profileData {
    font-weight: bold;
  }
  
  .logoutButton {
    padding: 10px 20px;
    background-color: #f44336;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
  }
  .loadingText{
    width: 100%;
  margin: auto;
 
}

/* Your existing styles */

/* Media Query for screen sizes less than or equal to 768px */
@media only screen and (max-width: 768px) {
  .signupparent {
    /* Add your responsive styles here for the "Hi There!" section */
    /* For example, you can adjust the font size or margin */
    font-size: 18px;
    margin-bottom: 20px; /* Add desired spacing between sections */
  }

  .para {
    /* Add your responsive styles here for the "Profile" section */
    /* For example, you can change the flex direction to stack the elements vertically */
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
  }
  .hithere{
    width: 100%;
    font-size: 25px;
  }
  .signupparent{
    width: 60%;
  }
}
