

.headingman {
    text-align: center;
    font-weight: 700;
    text-transform: uppercase;
    margin: 0;
    font-size: 18px;
    margin-top: 5%;
    margin-bottom: 5%;
  }

  .cardman {
    width: 85%;
    height: 85%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-auto-rows: 600px;
    /* margin-bottom: 40px; */
    row-gap: 5%;
    margin-bottom: 53%;
    margin-left: 7%;
  }
  .imageman {
    width: 100%;
    /* height: 90%; */
  }
  

  /* .totalproducts{
      text-align: left;
      margin-left: 50px;
  } */


  .parent{
      display: flex;
      justify-content: space-between;
      width: 80%;
      margin: auto;
  }
  .nameofitem{
    text-align: left;
    margin-left: 10%;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 90%;
    white-space: inherit;
    
  }
  .priceofitem{
    text-align: left;
    margin-left: 10%;
  }

  .thebuttonfav{
    background: transparent;
    color: #000;
    border: 1px solid #000;
    margin-top: 10px;
    padding: 11px 30px;
    width: 80%;
    cursor: pointer;
  }
  .thebuttonfav:hover{
    color: white;
    background-color: black;
    border: 1px solid white;
  }
  .removefav{
    font-weight: 400;
    text-align: right;
    margin-right: 9%;
    margin-bottom: 5%;
    cursor: pointer;
  }
.emptywish{
  text-transform: uppercase;
    margin-bottom: 20px;
    font-size: 28px;
}
.startshop{
  padding: 10px 20px;
  background: #000;
  color: #fff;
  border-radius: 0;
  font-size: 12px;
  text-transform: uppercase;
  border: 1px solid white;
  cursor: pointer;
}


/* Your existing styles */

/* Media Query for screen sizes less than or equal to 768px */
@media only screen and (max-width: 768px) {
  .cardman {
    /* Add your responsive styles here for the grid layout */
    /* For example, change the number of columns */
    grid-template-columns: repeat(2, 1fr);
    gap: 20px; /* Add desired gap between grid items */
  }
}



@media   only screen and (max-width: 718px) {
  .nameofitem{
    font-size: 12px;
  }
  .priceofitem{
    font-size: 14px;
  }
 .thebuttonfav{
  font-size: 12px;
  padding: 5px 10px;
 }
 .imageman{
  height: 55%;
  /* width: auto; */
 }
}

@media   only screen and (max-width: 428px) {
  .imageman{
    height: 45%;
    /* width: auto; */
   }
}